{% load i18n %}
<h3>{% trans "Poll" %}</h3>
<p><a href="{% url cmsplugin_poll.views.results poll.id %}">{{ poll.question }}</a></p>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url cmsplugin_poll.views.vote poll.id %}" method="post">
  {% csrf_token %}
  {% for choice in poll.choice_set.all %}
  <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
  <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
  {% endfor %}
  <input type="submit" value='{% trans "Vote" %}' />
</form>
